{% extends "layout/base.html" %}
{% load  static %}
{% load crispy_forms_tags %}

  <!-- ======= Hero Section ======= -->
  {% block content %}

  <main id="main">



    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg" style="padding: 130px 0;">
      <div class="container">

        <div class="section-title">
          <h2>Price Mobile</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 ">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar4-week" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Information Your Mobile</a></h4>
              <div class="description ">
           
              <form action="{% url 'index' %}" method="post" role="form" class="php-email-form form_view">
                  <div class="panel-body row">

                {% csrf_token %}
                {% for field_form in form %}
                <div class="col-md-6">

                {{field_form|as_crispy_field}}
                 </div>
<br>
                {% endfor %}

		      	
              </div>
              <div class="panel-footer  ">
                <button type="button" class="btn btn-default btn-pure waves-effect waves-classic close-form" >close</button>
                <button type="submit" class="form_submit btn btn-primary waves-effect waves-classic">Save</button>   
              </div>
            </form>

            
            </div>
          </div>
        </div>

        </div>

      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->

  {% endblock content %}

