{% load static %}
{% load i18n %}
 <!-- ======= Footer ======= -->
 <footer id="footer">

  
  
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'js/jquery.min.js' %}"></script>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script>

$(document).on('submit','.form_view',function(event){
    event.preventDefault();
  var form = this;



  $('.form_submit').button('loading');
  $.ajax({
    url:$(this).attr('action'),
    method:$(this).attr('method'),
    //  method:"POST",
      //  method:"PUT",
      data:new FormData(this),
       contentType:false,
       cache:false,
       processData:false,
       datatype:'json',
       success:function(res){
        if(res.status==='error'){

        $.each(res.message,function(i,value){
          var ele=$('select[name="'+i+'"]');
          ele.parent().append(`<small class="invalid-feedback" data-fv-validator="integer" data-fv-for="type_numberic" data-fv-result="INVALID" style="">`+value+`</small>`);
          ele.addClass('is-invalid');
          
            $('#message_modal').addClass('alert alert-danger').html(i+':'+value);
          });
         }

        else{
          $('#result_modal').modal('show');
          $('#message_price').text(res.message);
          $(form)[0].reset();

          
         

        }
      },
  });
  

});


</script>