{% extends "layout/base.html" %}
{% load  static %}
{% load crispy_forms_tags %}

  <!-- ======= Hero Section ======= -->
  {% block content %}
  <!-- ======= Hero Section ======= -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg" style="padding: 145px 0;">
        <div class="container">
          <div class="section-title ">
            <h2>About Us</h2>
            <p>We provide a phone price prediction service for you. 
              If you want help, go to the support department and put your information .</p>
          </div>
          </div>
        </div>
    </section><!-- End Services Section -->
    <section id="counts" class="counts">
      <div class="container">
        <div class="text-center title">
          <h3>What we have achieved so far</h3>
          <p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>
        </div>
        <div class="row counters position-relative">

          <div class="  text-center ">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

    
          <div class="  text-center ">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

        

        </div>

      </div>
    </section>
  
  </main><!-- End #main -->

  {% endblock content %}

