{% extends "layout/base.html" %}
{% load  static %}
{% load crispy_forms_tags %}

  <!-- ======= Hero Section ======= -->
  {% block content %}
  <!-- ======= Hero Section ======= -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg" style="padding: 145px 0;">
        <div class="container">
  
          <div class="section-title">
            <h2>About Us</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-cash-stack" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>
            </div>
        
  
            <div class="col-lg-6 col-md-6" data-wow-delay="0.1s">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-chat-text" style="color: #3fcdc7;"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
              </div>
            </div>

          </div>
  
        </div>
      </section><!-- End Services Section -->
  
  </main><!-- End #main -->

  {% endblock content %}

